<style>
body {
  background-color: lightblue;
  
}

h1 {
    vertical-align: top;
	background-color: #D9E7F8;
	color: #000080;
	font-weight: 600;
	margin-top: 5px;
	margin-left: 20px;
	border-radius: 5px;
	display: inline-block;
	padding: 15px 25px;
}

h2 {
    color:blue ;
    alignment: center;
    font-family: New Century Schoolbook, TeX Gyre Scholafo, serif;
    left-margin: 40px;
    margin-left: 20px;
  }

.btn{
  background-color: #008CBA;
  border: white;
  color: white;
  padding: 15px 25px;
  text-align: center;
  margin-left: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.btn {
    transition-duration: 0.4s;
  }
  
  .btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
.tex{
    color:blue ;
    font-family: New Century Schoolbook, TeX Gyre Scholafo, serif;

}
</style>
<h1><%= @enrollment.id%>'s Page</h1>



